[Unit]
Description=Vearch daemon Service

[Service]
WorkingDirectory=/etc/vearch
Environment=SERVER_TYPE=all
Environment=LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/etc/vearch/lib
ExecStart=/etc/vearch/bin/vearch -conf /etc/vearch/conf/config-%I.toml $SERVER_TYPE
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=/var/log/vearch/vearch-%I.out.log
StandardError=/var/log/vearch/vearch-%I.err.log
Type=simple
KillMode=process
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
