[Unit]
Description=The application for %I.
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=-/opt/apps/%I/
EnvironmentFile=-/opt/apps/%I/config/config
PIDFile=/run/%I-service.pid
ExecStartPre=-/opt/apps/%I/bin/startpre
ExecStart=-/opt/apps/%I/bin/start
ExecStop=-/opt/apps/%I/bin/stop
ExecStopPost=-/opt/apps/%I/bin/stoppost
StandardOutput=-/opt/apps/%I/logs/log.out
StandardError=-/opt/apps/%I/logs/log.err
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

LimitNOFILE=20480000
LimitNOFILESoft=20480000
LimitMEMLOCK=infinity
LimitNPROC=infinity

[Install]
WantedBy=multi-user.target
